@import "./responsive.scss";

.layout {
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include desktop {
    // background-color: rgb(78, 42, 42);
    max-width: 1280px;
  }
  @include tablet {
    background-color: rgb(141, 102, 102);
    max-width: 768px;
  }
  @include mobile {
    background-color: rgb(179, 159, 159);
    max-width: 640px;
  }
}
